{
	"site_path" : "/GantaraGroup/angela-client/",
	"angela_server" : {
		"hostname" : "localhost",
		"http" : 8081,
		"https" : 8082
	},
	"webpush" : {
		"mailto" : "agungmasda29@gmail.com",
		"public_vapid_key" : "BIIQi6cHNvfI4t0UpK461RKXZQ2ZVoLnlGb0rFQKo9kOtnOblhwHi4NzdgN9eKvqlNJ2TVlRiJicKbvG8HZEDX8",
		"private_vapid_key" : "0QYIwhpCdZJxfaArvRzEbZq8J3mj6chrFOQxzC-NaZo"
	}
}